@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  color: 'black';
  background-color: white;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  font-family: 'Inter', Arial, sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}